PACKAGE_NAME=serverlessfollowup

CLOUDANT_USERNAME=
CLOUDANT_PASSWORD=
CLOUDANT_HOST=
CLOUDANT_URL=https://$CLOUDANT_USERNAME:$CLOUDANT_PASSWORD@$CLOUDANT_HOST

APPID_SERVICE_ENDPOINT=https://us-south.appid.cloud.ibm.com
APPID_TENANTID=
APPID_URL=$APPID_SERVICE_ENDPOINT/oauth/v4/$APPID_TENANTID
APPID_CLIENTID=
APPID_SECRET=

TONE_ANALYZER_URL=https://gateway.watsonplatform.net/tone-analyzer/api
TONE_ANALYZER_APIKEY=

PUSH_APP_GUID=
PUSH_APP_SECRET=

# Select one of the below API host depending on the location in which your service instance is created
#  United Kingdom: imfpush.eu-gb.bluemix.net
#  Sydney: imfpush.au-syd.bluemix.net
#  Germany: imfpush.eu-de.bluemix.net
#  US South: imfpush.ng.bluemix.net
#  US East: imfpush.us-east.bluemix.net
PUSH_APP_API_HOST=imfpush.ng.bluemix.net
